.a-countdown {
  display: flex;
  justify-content: center;
  margin-top: -85px;
  margin-bottom: 21px;

  @media (max-width: 539px) {
    margin-top: -55px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    max-width: 65px;
    background-color: rgba(255, 255, 255, 0.9);
    margin: 0 2px;
    padding: 19px 0 13px;
    border-radius: var(--border-radius);
    font-size: 16px;
    line-height: 1;
    color: var(--accent-color);
    flex: 1;

    @media (max-width: 539px) {
      font-size: 12px;
      padding: 5px 0 5px;
    }
  }

  &__num {
    font-weight: 700;
  }

}
