.a-icon-link {
  display: flex;
  align-items: center;
  padding: 5px 0;

  &:hover {
    text-decoration: none;

    .a-icon-link__svg {
      fill: var(--main-text-color);
    }
  }

  &__title {
    color: var(--main-text-color);
    text-transform: uppercase;
    margin-left: 5px;

    @media (max-width: 992px) {
      display: none;
    }
  }

  &__svg {
    fill: var(--accent-color);
    transition: 0.3s fill;
  }
}
