.a-contacts {
    text-align: right;

    @media (max-width: 992px) {
        text-align: center;
    }

    &__phone {
        font-size: 22px;
        font-weight: 600;
        display: block;
    }

    &__link {
        color: inherit;
        position: relative;

        &:after {
            border-bottom: 1px dashed var(--main-text-color);
            width: 100%;
            content: '';
            position: absolute;
            top: calc(100% - 4px);
            left: 0;
            right: 0;
        }

        &:hover {
            text-decoration: none;
            color: var(--accent-color);

            &:after {
                border-color: var(--accent-color);
            }
        }
    }
}
