.a-contacts {
  text-align: right;

  @media (max-width: 991px) {
    text-align: right;
  }

  @media (max-width: 719px) {
    text-align: center;
  }

  &__phone {
    font-size: 22px;
    font-weight: 600;
    display: block;

    @media screen and (max-width: 1200px){
      font-size: 16px;
    }
  }

  &__time {
    @media screen and (max-width: 1200px){
      font-size: 12px;
    }
  }

  &__link {
    color: inherit;
    position: relative;

    &:after {
      border-bottom: 1px dashed var(--main-text-color);
      width: 100%;
      content: "";
      position: absolute;
      top: calc(100% - 4px);
      left: 0;
      right: 0;
    }

    &:hover {
      text-decoration: none;
      color: var(--accent-color);

      &:after {
        border-color: var(--accent-color);
      }
    }
  }
}
